Octave_ex/ex1/*.txt
R_Programming/Coursera_assignment_3/*.pdf
R_Programming/Coursera_assignment_3/*.csv

R_Programming/Coursera_ex_1/*.pdf
R_Programming/Coursera_ex_1/*.txt
R_Programming/Coursera_ex_1/specdata/*.csv

R_Programming/*.txt


network_prog_Java/DatabaseCon/bin
network_prog_Java/DatabaseCon/.*

network_prog_Java/FileSharingNetwork/.*
network_prog_Java/FileSharingNetwork/bin/*

network_prog_Java/RMIChatApp/.*
network_prog_Java/RMIChatApp/bin

network_prog_Java/callBack/*


